mixin card-header(textSup, titile, textSub)
	.card-header
		.text-14.text-gray !{textSup}
		.text-24.mb-8 !{titile}
		.text-14.text-gray3 !{textSub}

mixin card-price(text1, text2)
	.card-serv-item
		.text-14.text-gray3 !{text1}
		.text-18 !{text2}